:root {
  /* === Cover / Landing area === grey - 5b5b5b*/
  --cover-text-color: #000000 ;
  /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
  --highlight: #b5b5b5;
  --highlight-contrast: var(--cover-text-color);
  /*inverse colors used for :hover */
  --highlight-inverse: var(--cover-text-color);
  --highlight-inverse-contrast: white;

  /* visual guard around title and description, when the feature is enabled */
  --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 1);
  --cover-title-text-shadow: white 0px 0px 7px;

  /* === sticky top/left navigation menus === */
  --sticky-menu-text-color: #bd5b00;

  /* === Alternating content (post) sections  === */
  /* Light section - text color */
  --section-light-text-color: #3a4145;
  /* Light section - background color */
  --section-light-bg-color: #f2efe8;

  /* Dark section - text color */
  --section-dark-text-color: var(--section-light-bg-color);
  /* Dark section - background color */
  --section-dark-bg-color: #641875;

  /* Light&Dark section >quote. Suppressive color, compared to 'Light section - text color'*/
  --section-uni-quote: grey;
  /* Light&Dark section `code` a bit darker than 'Light section - background color' */
  --section-uni-code-bg-color: #e0ded7;

  /* === Single pages=== */
  --single-page-text-color: var(--section-light-text-color);
  --single-page-bg-color: var(--section-light-bg-color);

  /* === Footer === */
  --footer-color-background: #22343a;
  --footer-color: #bbc7cc;

  /* === Lists === */
  /* define list element for unnumbered lists, leave empty for default list element */
  --ul-li-icon: fa-asterisk;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.afacad-flux-light {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.afacad-flux-medium {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.afacad-flux-bold {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.afacad-flux-black {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* headings */

h1,h2,h3,h4,h5 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2px;
}


h2 {}
    

/* body */

body {
    font-family: "Afacad Flux", sans-serif;
    font-size: 2.5rem;
}

/* left nav bar */

.fixed-nav {
    font-family: "Afacad Flux", sans-serif;
}

/* header */

#site-head .blog-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 8rem;
    letter-spacing: 0px;
}

#site-head .blog-description {
    font-family: "Afacad Flux", sans-serif;
    font-size:4rem;
}

#header-arrow {
  color: #ffffff;
}