/* hide unused footer links */
body > footer > section:last-of-type {
    display: none;
}

/* default font */
body {
    font-family: "Afacad Flux", sans-serif;
    font-size: 2.5rem;
}

/* logo and branding */
.logo_hp::before {
    /* background image */
    content: "";
    z-index: -1;
    position: absolute;
    top: -5%;
    bottom: 0;
    left: -5%;
    width: 110%;

    background-image: url('/images/garden-drone.jpeg');
    background-size: cover;
    filter: blur(8px);
}
.logo_hp {
    padding-top: 2rem;
    padding-bottom: 2rem;

    position: relative;

    text-align: center;

    * {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 3.125rem;
    }
    h2 {
        font-family: "Afacad Flux", sans-serif;
        font-size: 1.5625rem;
    }
    h1,h2 {
        color: var(--text-1-light);
        text-shadow: white 0 0 7px;
    }

    img {
        max-height: 6rem;
        filter: drop-shadow(#d0d0d0 0 0 3px);
    }
}

/* text */
.prose {
    font-size: 1.3rem;

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 1.2;
    }

    h2 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.3333;
    }

    li {
        line-height: 1rem;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 2.25rem;
            line-height: 1.1111;
        }

        h2 {
            font-size: 1.875rem;
            line-height: 1.2;
        }
    }
}

/* icons at the bottom */
.icons {
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 8px;
}
