/* hide unused footer links */
body > footer > section:last-of-type {
    display: none;
}

/* default font */
body {
    font-family: "Afacad Flux", sans-serif;
    font-size: 2.5rem;
}

/* icons at the bottom */
.icons {
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 8px;
}
