<!-- ForkAwesome -->
{{ $styles := resources.Get "css/fork-awesome.css" | minify }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

<!-- custom CSS -->
{{ $styles := resources.Get "css/custom.css" | minify }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

<!-- HHI Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">

<!-- favicon, app metadata -->
<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" />
<meta name="apple-mobile-web-app-title" content="HHI" />
<link rel="manifest" href="/site.webmanifest" />
